/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/node_modules/slick-carousel/slick/slick.css'; 
@import '/node_modules/slick-carousel/slick/slick-theme.css';
/* slider1 */
.slick-slide div {
  text-align: center;
  padding: 20px;
  transition: transform 0.4s ease;
}

.slick-slide:hover div {
  transform: scale(1.1);
}

.slick-slide i:hover {
  transform: rotate(10deg);
}

/* Estilos para el ícono de Astro */
.iconosJx {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Ajusta según sea necesario */
  height: 50px; /* Ajusta según sea necesario */
}

/* slider2 */
.slider-container {
  font-size: 10px;
}


@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --background-color: white;
  --text-color: black;
}

.dark {
  --background-color: #1a202c;
  --text-color: beige;
  color: beige;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}



@keyframes gradient-shift {
    0% {
      background-position: 10% 50%;
    }
    50% {
      background-position: 80% 50%;
    }
    100% {
      background-position: 10% 50%;
    }
  }
  
#titulo {
    background: linear-gradient(90deg, rgba(178,104,227,1) 0%, rgba(252,55,55,1) 50%, rgba(255,190,100,1) 100%);
    background-size: 200% 200%; /* Para permitir el desplazamiento del gradiente */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding: 0.1em 0; 
    line-height: 1.2; 
    animation: gradient-shift 3s ease infinite; /* Duración de la animación */
}
  

.pug_love{
  position: fixed;
  width: 50px;
  height: auto;
  top: -2px;
  right: 450px;
  display: block; 
}

/* Ocultar en dispositivos móviles */
@media (max-width: 768px) {
   .pug_love {
       display: none; /* Ocultar en pantallas pequeñas */
   }
}

.perro_coffe{
  display: block; 
}

@media (max-width: 510px) {
   .perro_coffe {
    width: 30%;
   }
}


/*Boton WhatsApp*/
.btn-whatsapp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, transform 0.3s;
  position: fixed; /* Fija el botón a la derecha */
  bottom: 30px; /* Ajusta la posición vertical */
  right: 20px; /* Ajusta la posición horizontal */
}

.btn-whatsapp:hover {
  background-color: rgba(3, 156, 72, 0.781);
  transform: scale(1.1);
}

.btn-whatsapp i {
  font-size: 2.5rem;
}

.btn-whatsapp:active {
  transform: scale(0.95);
}



