---
import Layout from "../layouts/Layout.astro"

import AboutMe from "../components/AboutMe.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Experience from "../components/Experience.astro"
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import Contact from "../components/icons/Contact.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"
import TitleSection from "../components/TitleSection.astro"
import ContactMe from "../components/Contact.astro"

const personalImageAlt = "Cesar Sierra"

---

<Layout
  title="Portafolio"
  description="Contácta a Cesar para tus desarrollos web"
>
  <main class="px-4">
    <img class="pug_love"
    src="/pug_love.gif"
    alt={personalImageAlt}
  />

    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-8" />
        Proyectos de software
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>

	<SectionContainer id="contacto">
		<TitleSection>
			<Contact class="size-8" />
			Contacto
		</TitleSection>
		<ContactMe />
	</SectionContainer>
  </div>
  </main>
</Layout>
