---
import { MySlider, MySlider2 } from '../components/MySlider.jsx'; 
---

<section>
    <div  id="slidersportfolio">
        <MySlider client:only="react"/>
    </div>
    <MySlider2 client:only="react"/>
</section>
